---
import Layout from "../layouts/p_layout.astro";
import SidebarAd from "../components/SidebarAd.tsx";
---

<Layout>
  <SidebarAd client:load />
  <h1 class="text-3xl font-bold">Página Principal</h1>
</Layout>
