---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="bg-[#AABF70] p-6 rounded-lg shadow-lg w-full sm:w-[600px]">
    <div class="bg-[#D9D2B0] p-6 rounded-lg text-left">
      <img class="mx-auto h-40 w-auto" src="public/starnet.png" alt="Imagen de Starnet"> 
      <h2 class="mt-4 text-center text-2xl font-bold tracking-tight text-white">Ingresa a tu cuenta:</h2>
      <form class="mt-4 space-y-4" action="#" method="POST">
        <div class="flex justify-center">
          <div class="w-full max-w-[400px]">
            <label for="username" class="input-label">Usuario:</label>
            <input type="text" id="username" name="username" class="input" required>
          </div>
        </div>
        <div class="flex justify-center">
          <div class="w-full max-w-[400px]">
            <label for="password" class="input-label">Contraseña:</label>
            <input type="password" id="password" name="password" class="input" required>
          </div>
        </div>
        <div class="flex justify-center">
          <button type="submit" class="btn btn-primary mt-4">Ingresar</button>
        </div>
        <p class="text-xs text-white text-center mt-2">¿Te olvidaste la contraseña?</p>
      </form>
    </div>
  </div>
</Layout>
