---
import Layout from "../layouts/Layout.astro"
---

<style>
  body {
    background-image: url('/src/images/fond.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  }
  p{
      text-decoration: underline;
  }
</style>

<Layout>
  <div class="flex justify-center items-center bg-[#AABF70] p-12 rounded-lg shadow-lg w-full sm:w-[800px]">
    <div class="bg-[#D9D2B0] p-16 rounded-lg text-left flex items-center gap-16">
      
      <div class="flex-1 flex flex-col justify-center items-center text-left max-w-[600px]">
        <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-center">Ingresa a tu cuenta:</h2>
        <form class="mt-10 space-y-6 w-full" action="#" method="POST">
            <div>
                <label for="username" class="block text-sm font-medium text-white">Usuario:</label>
                <input type="text" id="username" name="username" class="w-full px-4 py-2 rounded bg-[#D9D9D9] text-gray-900" required>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-white">Contraseña:</label>
                <input type="password" id="password" name="password" class="w-full px-2 py-2 rounded bg-[#D9D9D9] text-gray-900" required>
            </div>
            <div class="flex justify-center">
                <button type="submit" class="w-[150px] py-2 mt-4 rounded bg-[#54AB74] text-white font-semibold hover:bg-[#1E412B] transition">Ingresar</button>
            </div>
            <p class="text-xs text-white mt-2 text-center">¿Te olvidaste la contraseña?</p>
        </form>
      </div>

      <!-- Línea separadora -->
      <div class="w-px bg-white h-[300px]"></div>

      <img class="h-90 w-auto" src="src/images/inv.jpg" alt="Imagen de Starnet">
    </div>
  </div>
</Layout>
