---
import Layout from "../layouts/Layout.astro"
---
<style>
  body {
    background-image: url('/src/images/fond.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  }
</style>

<Layout>
  <div class="max-w-[90%] sm:max-w-[800px] mx-auto">
    <!-- Contenedor principal -->
    <div class="bg-[#AABF70] p-5 sm:p-8 rounded-lg shadow-lg w-full">
      <div class="bg-[#D9D2B0] p-5 sm:p-10 rounded-lg text-center">
        <!-- Imagen -->
        <img class="mx-auto h-40 w-auto mb-4" src="src/images/starnet.png" alt="Imagen de Starnet">

        <!-- Título -->
        <h1 class="text-xl sm:text-3xl font-bold tracking-tight text-white mb-2 sm:mb-4">CERRAR SESIÓN</h1>

        <!-- Mensaje -->
        <p class="text-sm sm:text-base text-white mb-4 sm:mb-6">
          Hola Admin, ¿Estás seguro de cerrar sesión en<br>Inventario BARUC - STARNET?
        </p>

        <!-- Botones -->
        <div class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-4">
          <a href="login">
            <button id="yes" class="w-full sm:w-[180px] py-2 sm:py-3 rounded bg-[#E74C3C] text-white font-semibold hover:bg-[#5e3535] transition">
              Sí
            </button>
          </a>
          <a href="/">
            <button id="no" class="w-full sm:w-[180px] py-2 sm:py-3 rounded bg-[#53A670] text-white font-semibold hover:bg-[#1C4029] transition">
              No
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script is:inline>
  document.getElementById('yes').addEventListener('click', function () {
    alert("Gracias por su visita. Cerrando sesión...");
    // Redirige al usuario a la página de inicio de sesión o realiza la acción de logout
    // window.location.href = "login.astro";
  });
</script>