---
import Layout from '../layouts/p_layout.astro';
---

<Layout>
    <!-- Opciones -->
    <div class="px-60">
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-12">
            <div class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
                <img src="/public/editar.svg" alt="Editar Listas" class="w-16 h-16 object-contain invert">
                <span class="mt-5 text-lg text-white font-semibold">Editar Tablas</span>
            </div>

            <div class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
                <img src="/public/agregar.svg" alt="Agregar Listas" class="w-16 h-16 object-contain invert">
                <span class="mt-5 text-lg text-white font-semibold">Agregar Tablas</span>
            </div>

            <div class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
                <img src="/public/listas.svg" alt="Lectura de Tablas" class="w-16 h-16 object-contain invert">
                <span class="mt-5 text-lg text-white font-semibold">Lectura Tablas</span>
            </div>

            <div class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
                <img src="/public/herramientas.svg" alt="Reporte Herramientas" class="w-16 h-16 object-contain invert">
                <span class="mt-5 text-lg text-white font-semibold">Reporte Herramientas</span>
            </div>

            <div class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
                <img src="/public/activos.svg" alt="Reporte Activos" class="w-16 h-16 object-contain invert">
                <span class="mt-5 text-lg text-white font-semibold">Reporte Activos</span>
            </div>

            <div class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
                <img src="/public/consumibles.svg" alt="Reporte Consumibles" class="w-16 h-16 object-contain invert">
                <span class="mt-5 text-lg text-white font-semibold">Reporte Consumibles</span>
            </div>
        </div>
    </div>
</Layout>