---
import Layout from '../layouts/p_layout.astro';
---

<style>
    /* Definir colores personalizados */
    :root {
      --celeste: #7AB351;
        --verde-oscuro: #3C9B72 ;
        --verde-claro: #22694c;
        --beige: #D8E6B5;
        --mostaza: yellow;
    }

    li{
        text-decoration: underline;
    }
    /* Agregar sombra al texto */
    .text-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
    .info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    max-height: 300px; /* Altura máxima para limitar el tamaño */
    background: #C1CC6C;
    color: white;
    padding: 20px;
    text-align: left;
    font-size: 16px;
    display: none;
    z-index: 10;
    border: 3px solid black;
    overflow-y: auto; /* Agrega un scrollbar vertical si es necesario */
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
}

    .button-container {
        position: relative;
        display: inline-block;
    }

    
</style>

<Layout usuario="Usuario">
    <!-- Opciones -->
  <div class="px-60">
    <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-12">
      <div class="button-container">
        <div
          onclick="toggleInfo(this)"
          class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
          <img
            src="src/images/editar.svg"
            alt="Editar Listas"
            class="w-16 h-16 max-w-full max-h-full object-contain invert"/>
          <span class="mt-5 text-lg text-white font-semibold"
            >Editar Tablas</span>
        </div>
        <div class="info-box">
          <strong><a class="font-size-2">Editar Tablas</a></strong>
          <ul id="actualizarProducto" class="submenu pl-5 space-y-1">
            <li>
              <a onclick="setRoleAndRedirect('usuario', 'herramientas')" class="block p-2 hover:bg-gray-200"
                >•Herramientas</a>
            </li>
            <li>
              <a onclick="setRoleAndRedirect('usuario', 'activos')" class="block p-2 hover:bg-gray-200">•Activos</a>
            </li>
            <li>
              <a onclick="setRoleAndRedirect('usuario', 'consumibles')" class="block p-2 hover:bg-gray-200">•Consumibles</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="button-container">
        <div
          onclick="toggleInfo(this)"
          class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
          <img
            src="src/images/agregar.svg"
            alt="Agregar Listas"
            class="w-16 h-16 max-w-full max-h-full object-contain invert"/>
          <span class="mt-5 text-lg flex text-white font-semibold"
            >Agregar Tablas</span>
        </div>
        <div class="info-box">
          <strong><a class="font-size-2">Agregar Tablas</a></strong>
          <ul id="agregarProducto" class="submenu pl-5 space-y-1">
            <li>
              <a onclick="setRoleAndRedirect('usuario', 'herramientas')" class="block p-2 hover:bg-gray-200"
                >•Herramientas</a>
            </li>
            <li>
              <a onclick="setRoleAndRedirect('usuario', 'activos')" class="block p-2 hover:bg-gray-200">•Activos</a>
            </li>
            <li>
              <a onclick="setRoleAndRedirect('usuario', 'consumibles')" class="block p-2 hover:bg-gray-200">•Consumibles</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="button-container">
        <a href="/perfiluser" class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
          <img src="src/images/usuarios.svg" alt="Perfil Usuario"
            class="w-16 h-16 object-contain invert"/>
          <span class="mt-5 text-lg text-white font-semibold text-center">Perfil Usuario</span>
        </a>
      </div>
      

      <div class="button-container">
        <div
          onclick="toggleInfo(this)"
          class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
          <img
            src="src/images/herramientas.svg"
            alt="Reporte Herramientas"
            class="w-16 h-16 max-w-full max-h-full object-contain invert"/>
          <span class="mt-5 text-lg text-white font-semibold"
            >Reporte Herramientas</span>
        </div>
        <div class="info-box">
          <strong><a class="font-size-2">Reporte de Herramientas</a></strong>
          <ul id="reportHerramientas" class="submenu pl-5 space-y-1">
            <li>
              <a onclick="setRoleAndRedirect('usuario', 'pdf')" class="block p-2 hover:bg-gray-200"
                >•PDF</a>
            </li>
            <li>
              <a onclick="setRoleAndRedirect('usuario', 'excel')" class="block p-2 hover:bg-gray-200">•Excel</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="button-container">
        <div
          onclick="toggleInfo(this)"
          class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
          <img
            src="src/images/activos.svg"
            alt="Reporte Activos"
            class="w-16 h-16 max-w-full max-h-full object-contain invert"/>
          <span class="mt-5 text-lg text-white font-semibold"
            >Reporte Activos</span>
        </div>
        <div class="info-box">
          <strong><a class="font-size-2">Reporte Activos</a></strong>
          <ul id="reportActivos" class="submenu pl-5 space-y-1">
            <li><a onclick="setRoleAndRedirect('usuario', 'pdf')" class="block p-2 hover:bg-gray-200">•PDF</a></li>
            <li><a onclick="setRoleAndRedirect('usuario', 'excel')" class="block p-2 hover:bg-gray-200">•Excel</a></li>
          </ul>
        </div>
      </div>

      <div class="button-container">
        <div
          onclick="toggleInfo(this)"
          class="flex flex-col items-center justify-center p-10 bg-[var(--celeste)] rounded-lg shadow-lg cursor-pointer hover:bg-[var(--verde-oscuro)] border-4 border-black">
          <img
            src="src/images/consumibles.svg"
            alt="Reporte Consumibles"
            class="w-16 h-16 max-w-full max-h-full object-contain invert"/>
          <span class="mt-5 text-lg text-white font-semibold"
            >Reporte Consumibles</span>
        </div>
        <div class="info-box">
          <strong><a class="font-size-2">Reporte Consumibles</a></strong>
          <ul id="reportConsumibles" class="submenu pl-5 space-y-1">
            <li>
              <a onclick="setRoleAndRedirect('usuario', 'pdf')" class="block p-2 hover:bg-gray-200"
                >•PDF</a>
            </li>
            <li>
              <a onclick="setRoleAndRedirect('usuario', 'excel')" class="block p-2 hover:bg-gray-200">•Excel</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script is:inline>
    // FUNCIÓN PARA MOSTRAR LOS ELEMENTOS <LI> AL MOMENTO DE DAR CLICK EN EL ELEMENTO DE LA CLASE .INFO-BOX
    function toggleInfo(element) {
      let container = element.parentElement;
      let infoBox = container.querySelector(".info-box");
  
      //Cierra todos los cuadros antes de abrir uno nuevo
      document.querySelectorAll(".info-box").forEach((box) => {
        if (box !== infoBox) box.style.display = "none";
      });
  
      //Alternar visibilidad del cuadro de información
      infoBox.style.display =
        infoBox.style.display === "block" ? "none" : "block";
    }
  
    //Cerrar el cuadro si se hace clic fuera
    document.addEventListener("click", function (event) {
      if (!event.target.closest(".button-container")) {
        document
          .querySelectorAll(".info-box")
          .forEach((box) => (box.style.display = "none"));
      }
    });

    function setRoleAndRedirect(role, pageId) {
    sessionStorage.setItem("role", "usuario");
      
    const pageMap = {
      consumibles: "/listas/consumibles",
      herramientas: "/listas/herramientas",
      activos: "/listas/activos",
      };

      const targetPage = pageMap[pageId] || "/USindex"; // Redirección por defecto si el id no existe
      window.location.href = targetPage;
  }
  </script>