---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Inicio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        :root {
            --celeste: #44A69C;
            --verde-oscuro: #1C4029;
            --verde-claro: #53A670;
            --beige: #BEBF95;
            --mostaza: yellow;
        }
        .text-shadow {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        }
    </style>
</head>
<body class="bg-gray-200 min-h-screen flex flex-col">
    <!-- Encabezado -->
    <header class="w-full bg-[var(--verde-claro)] text-white p-6 flex justify-between items-center">
        <h2 class="text-3xl font-bold text-shadow">Inventario <span class="text-[var(--mostaza)]">BARUC - STARNET</span></h2>
        <button class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-800 transition">Log Out</button>
    </header>

    <!-- Contenedor Principal -->
    <main class="w-full flex-1 bg-[var(--beige)] p-8 shadow-md mt-5">
        <div class="flex justify-between mb-4">
            <p class="text-white text-lg text-shadow"><strong>Nombre Usuario:</strong> Admin</p>
            <p class="text-white text-lg text-shadow"><strong>Fecha/Hora Ingreso:</strong> 25/01/2025 12:08:53</p>
        </div>

        <slot />
    </main>
</body>
</html>